{%- assign pageCSS = "blog.css,blog-post.css,highlight.css" -%}
{%- assign pageCSS = pageCSS | split: "," -%}
{%- assign pageJS = "blog.js,plugin.js" | split: "," -%}
<!DOCTYPE html>
<html>
{% include head.html %}
<body ondragstart="return false;">
{% include header.html %}
<div class="container page-post animation-fade-up">
  <h1 class="page-title" id="{{ page.title }}">{{ page.title }}</h1>
  <div class="post">
    {{ content }}
  </div>
</div>
{% include footer.html %}
{% include script.html %}
</body>
</html>

<!-- Gitalk start -->
<div id="gitalk-container"></div> 
 <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
 <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
    var gitalk  = new Gitalk ({
        id: location.pathname.substr(0, 50),   // Ensure uniqueness and length less than 50
        clientID: '1c1e5f846ea94bd66d7e',
        clientSecret: '4158fd2b0b53c60389068b49ef801f55e170473f',
        repo: 'zhoudajun.github.io',
        owner: 'zhoudajun',
        admin: ['zhoudajun'],
		    distractionFreeMode: false  // Facebook-like distraction free mode
    })
    gitalk.render('gitalk-container')
</script> 
<!-- Gitalk end -->
